<div class="logo"></div>
<h1>Build a better future.</h1>
<div class="email-signup">
  {{ember-chimp formAction="//fieldthebern.us12.list-manage.com/subscribe/post?u=49ce469254e4d9eda0acd3adb&amp;id=882fad51bb"
            placeholder="Email Address"
            buttonText="Sign me up"
            loadingText="Submitting..."
          }}
</div>